body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.job-portal-main-page {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: auto; */
}

.navigation-bar-search {
    height: 30px;
    border-radius: 11px;
    width: 400px;
    padding: 11px;
    border: none;
    font-family: Satoshi;
}

.job-protal-main {
    /* margin-top: 70px; */
    /* same as navbar height */
    background-color: #f3eeee;
    overflow-y: auto;
    max-height: 100vh;
}

.job-portal-job-listings {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #f3eeee;
}

.job-card {
    background-color: white;
    border-radius: 20px;
    padding: 12px;
    height: 270px;
    width: 280px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.job-card-title {
    font-size: 21px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    font-family: Satoshi;
    margin-bottom: 10px;
}

.job-card-description {
    font-size: 13px;
    color: rgb(160, 158, 158);
    font-family: Satoshi;
}

.job-specs-list {
    font-family: Satoshi;
    font-weight: 500;
}

.job-card-exprience-section {
    display: flex;
    justify-content: space-between;
}

.job-card-exprience-section p {
    font-weight: 500;
    font-family: Satoshi;
}

.job-view-button {
    width: 100%;
    height: 34px;
    border-radius: 11px;
    color: white;
    background-color: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
    font-family: Satoshi;
}

.job-portal-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 300px;
}

.job-portal-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-portal-main-slogan {
    font-size: 33px;
    letter-spacing: 0.9px;
    font-weight: 700;
    font-family: Satoshi;
    margin: 0;
}

.job-portal-sub-slogan {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: Satoshi;
    margin: 0;

}

.job-portal-slogan-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 6px;
}

.job-pertal-search-icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.job-pertal-filter-icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 12px;
}

.job-portal-illustration {
    height: 100px;
    width: 130px;
}

.no-jobs-illustration {
    height: 275px;
    width: 305px;
}

.no-jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Satoshi;
    font-weight: 600;
    font-size: 14px;
    color: #312929;
}

.job-portal-job-detail-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.job-detail-modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.job-detai-modal-content {
    position: relative;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 20px;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hidden {
    display: none;
}

.job-detail-modal-close-btn {
    margin-left: auto;
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.job-detail-modal-title {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-family: Satoshi;
    font-weight: 700;
}

.job-detail-modal-job-title {
    font-size: 24px;
    font-family: Satoshi;
    font-weight: 500;
    text-align: center;
}

.job-detail-modal-job-location {
    font-size: 14px;
    color: rgb(44, 43, 43);
    font-family: Satoshi;
    font-weight: 600;
    text-align: center;
}

.job-detail-modal-job-description {
    font-size: 15px;
    color: rgb(160, 158, 158);
    font-family: Satoshi;
    text-align: center;
    font-weight: 500;
}

.job-detail-modal-job-apply {
    text-align: center;
}

.job-detail-modal-job-apply-button {
    font-family: Satoshi;
    text-align: center;
    padding: 12px;
    width: 300px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    background-color: rgb(194, 221, 194) ;
}

.job-detail-modal-specs {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.job-detail-modal-specs-container {
    border-radius: 16px;
    height: 180px;
    width: 280px;
    background-color: #F0F0F0;
    padding: 12px;
    margin-top: 10px;
}

.job-detail-spcs-img {
    width: 100px;
    height: 100px;
}

.job-detail-modal-specs-attribute {
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 25px;
    text-align: center;
    font-size: 18px;
    font-family: Satoshi;
    font-weight: 500;
}

.job-filter-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.job-filter-modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.job-filter-modal-content {
    position: relative;
    background-color: white;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px;
}

.job-filter-modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Satoshi;
    font-weight: 600;
    font-size: 20px;
}

.hideFilters {
    display: none;
}

.job-filter-modal-close-btn {   
    font-size: 30px;
    cursor: pointer;
    font-weight: 400;
}

.job-filter-modal-description {
    font-family: Satoshi;
    color: rgb(141, 136, 136);
    font-size: 13px;
    font-weight: 500;
}

.job-filter-modal-options {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-filter-modal-options-select {
    height: 40px;
    border-radius: 9px;
    font-family: Satoshi;
    font-weight: 500;
}

.filter-add-button {
    font-family: Satoshi;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 6px 12px;
    border-radius: 9px;
    background-color: #312929;
    color: white;
    font-size: 13px;
    height: 24px;
    gap: 10px;
    width: 87px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
}

.icon {
  color: white;
}   
